<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock %}</title>
    {% load  static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% block header %}
<header>
    {% if is_auth %}
        <ul>
            <li><a href="{% url 'profile' %}">Профиль</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
            <li><a href="{% url 'login' %}">Войти</a></li>
        </ul>
    {% endif %}
</header>
{% endblock %}
{% block main %}{% endblock %}
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>